#CitadelModalOverlay {
    all: initial;
    position:fixed;
    z-index:2147483647;
    left:0; top:0; width:100vw; height:100vh;
    background:rgba(0,0,0,0.7);
    display:flex; justify-content:center; align-items:center;
}
.modal {
    all: unset;
    background:white; padding:2em 3em 2em 2em; border-radius:10px; text-align:left;
    box-shadow:0 5px 20px #0004; display:flex; align-items:center; gap:1em;
    min-width:280px;
    min-height:120px;
    max-width: 480px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
.icon {
    width:80px;
    margin-right:1em;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width:220px;
    flex: 1 1 0;
}
.column , .exceptionSection, #exceptionDiv {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.title {
    line-height:1.4;
    font-weight: bold;
    text-align: center;
}
.message {
    line-height:1.4;
    text-align: justify;
}
.exception-toggle {
    cursor: pointer;
    user-select: none;
}
.clickable {
    color: #007bff;
    text-decoration: underline;
    transition: color .18s;
}
.exception-toggle:hover .clickable,
.exception-toggle:focus .clickable {
    color: #0056b3;
}
.exception-section {
    display: none;
    flex-direction: column;
    align-items: stretch;
    width:100%;
}
.exception-title { font-size: 1.1em; font-weight: bold; margin-bottom: 1em}
.exception-reason {
    width:100%; min-width:210px; min-height: 70px;
    padding: 0.4em; resize:vertical;
}
.exception-submit {
    padding: 0.5em 1.5em; background-color: #007bff; color: white; border: none;
    cursor: pointer; border-radius: 4px; transition: background .2s;
    margin-top: 1em
}
.exception-submit:hover:not(:disabled) { background-color: #0056b3; }
.exception-submit:disabled {
    background-color: #d3d3d3; color: #808080;
    cursor: not-allowed; opacity: 0.7;
}
.exception-success, .exception-error {
    margin-top:0.5em; font-weight:bold; color: green; text-align: center;
}
.exception-error { color: #990000; }
.exception-title,
.acknowledge-button,
.exception-submit {
    max-width: 200px;
    width: 100%;
    display: block;           /* Ensures margin auto works */
    margin-left: auto;
    margin-right: auto;
}
