.site-header {
  justify-content: center;
}

.site-title {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 50rem) {
  .side-bar {
    width: 180px;
  }

  .main {
    margin-left: 180px !important;
  }
}

.passing, .warning, .blocking, .failing, .unknown {
  padding: 2px 8px;
  border-radius: 3px;
  border: 1px solid #000;
  color: #000;
  white-space: nowrap;

  code {
    background: transparent;
    color: inherit;
    padding: 0;
    border: none;
  }
}

.passing  { background: #43d25e; }
.warning  { background: #ffa800; }
.blocking { background: #e23a3a; }
.failing  { background: #999; }
.unknown  { background: #ccc; }