@import "color_schemes/dark";

$link-color: #4da3ff;
$btn-primary-color: #4da3ff;
$base-button-color: #4da3ff;

$body-background-color: #17161a;
$sidebar-color:          #131215;
$border-color:           #3a3940;
